integration/src/test/resources/anotherSimpleSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://simple/main"
  targetNamespace="http://simple/main"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">

  <xsd:element name="aElem" type="AElem"/>

  <xsd:complexType name="AElem">
    <xsd:sequence>
      <xsd:element name="bElem" type="BElem" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="dummy" type="xsd:string" use="optional" default="foo"/>
  </xsd:complexType>

  <xsd:complexType name="BElem">
    <xsd:sequence>
      <xsd:element name="cElem" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
