integration/src/test/resources/include.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xipo="http://www.example.com/IPO"
        elementFormDefault="qualified">
    <xs:complexType name="PartsType">
      <xs:sequence>
        <xs:element name="part" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="number" type="xipo:SKU"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
</xs:schema>
