integration/src/test/resources/qualified.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.example.com/qualified"
    elementFormDefault="qualified"
    attributeFormDefault="qualified">
  <xs:element name="foo">
    <xs:complexType>
     <xs:sequence>
       <xs:element name="string1" type="xs:string"/>
     </xs:sequence>
     <xs:attribute name="attribute1" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
