src/test/resources/ipo.xsd

<schema targetNamespace="http://www.example.com/IPO"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ipo="http://www.example.com/IPO">

  <annotation>
    <documentation xml:lang="en">
      International Purchase order schema for Example.com
      Copyright 2000 Example.com. All rights reserved.
    </documentation>
  </annotation>
  
  <import namespace="http://www.w3.org/XML/1998/namespace"
      schemaLocation="http://www.w3.org/2001/xml.xsd"/>
      
  <element name="purchaseOrder" type="ipo:PurchaseOrderType"/>

  <element name="comment" type="string"/>

  <complexType name="PurchaseOrderType">
    <sequence>
      <element name="shipTo"     type="ipo:Address"/>
      <element name="billTo"     type="ipo:Address"/>
      <element ref="ipo:comment" minOccurs="0"/>
      <element name="items"      type="ipo:Items"/>
    </sequence>
    <attribute name="orderDate" type="date"/>
  </complexType>

  <complexType name="Items">
    <sequence>
      <element name="item" minOccurs="0" maxOccurs="unbounded">
        <complexType>
          <sequence>
            <element name="productName" type="string"/>
            <element name="quantity">
              <simpleType>
                <restriction base="positiveInteger">
                  <maxExclusive value="100"/>
                </restriction>
              </simpleType>
            </element>
            <element name="USPrice"    type="decimal"/>
            <element ref="ipo:comment" minOccurs="0"/>
            <element name="shipDate"   type="date" minOccurs="0"/>
          </sequence>
          <attribute name="partNum" type="ipo:SKU" use="required"/>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <simpleType name="SKU">
    <restriction base="string">
      <pattern value="\d{3}-[A-Z]{2}"/>
    </restriction>
  </simpleType>
    
  <complexType name="Address">
    <sequence>
      <element name="name"   type="string"/>
      <element name="street" type="string"/>
      <element name="city"   type="string"/>
    </sequence>
  </complexType>

  <complexType name="USAddress">
    <complexContent>
      <extension base="ipo:Address">
        <sequence>
          <element name="state" type="ipo:USState"/>
          <element name="zip"   type="positiveInteger"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="UKAddress">
    <complexContent>
      <extension base="ipo:Address">
        <sequence>
          <element name="postcode" type="ipo:UKPostcode"/>
        </sequence>
        <attribute name="exportCode" type="positiveInteger" fixed="1"/>
      </extension>
    </complexContent>
  </complexType>

  <!-- other Address derivations for more countries -->

  <simpleType name="USState">
    <restriction base="string">
      <enumeration value="AK"/>
      <enumeration value="AL"/>
      <enumeration value="AR"/>
      
      <!-- and so on ... -->
      <enumeration value="DE"/>
    </restriction>
  </simpleType>

  <!-- simple type definition for UKPostcode -->
  <simpleType name="UKPostcode">
    <restriction base="string">
    </restriction>
  </simpleType>
  
  <element name="Element1">
    <complexType>
      <sequence>
        <choice maxOccurs="unbounded">
          <element ref="ipo:Choice1"/>
          <element ref="ipo:Choice2"/>
          <any namespace="##other" processContents="lax" />
        </choice>
      </sequence>
    </complexType>
  </element>
  
  <element name="Choice1">
    <complexType>
      <attribute ref="xml:lang" use="required"/>
      <sequence>
        <any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
      <anyAttribute namespace="##any"/>
    </complexType>
  </element>
  <element name="Choice2" type="positiveInteger" />
    
  <complexType name="timeOlson">
    <simpleContent>
      <extension base="ipo:timeNoTZ">
         <attribute name="olsonTZ" type="string" use="optional" default="" />
      </extension>
    </simpleContent>
  </complexType>
  
  <simpleType name="timeNoTZ">
    <restriction base="time">
      <pattern value=".+[0-9]"/>
    </restriction>
  </simpleType>
  
  <complexType name="intWithAttr">
    <simpleContent>
      <extension base="int">
         <attribute name="foo" type="string" use="optional" default="" />
      </extension>
    </simpleContent>
  </complexType>
  
  <element name="Element2">
    <complexType>
      <anyAttribute namespace="##any"/>
    </complexType>
  </element>
  
  <complexType name="DatedData">
    <sequence>
      <element name="date"   type="dateTime"/>
      <element name="data"   type="base64Binary"/>
    </sequence>
    <attributeGroup ref="ipo:coreattrs"/>
  </complexType>

  <attributeGroup name="coreattrs">
    <annotation>
      <documentation>
      core attributes common to most elements
      id       document-wide unique id
      </documentation>
    </annotation>
    <attribute name="id" type="ID"/>
    <attribute name="class" type="NMTOKENS"/>
  </attributeGroup>
  
  <attributeGroup name="i18n">
    <annotation>
      <documentation>
      internationalization attributes
      lang        language code (backwards compatible)
      xml:lang    language code (as per XML 1.0 spec)
      dir         direction for weak/neutral text
      </documentation>
    </annotation>
    <attribute name="lang" type="string"/>
    <attribute ref="xml:lang"/>
    <attribute name="dir">
      <simpleType>
        <restriction base="token">
          <enumeration value="ltr"/>
          <enumeration value="rtl"/>
        </restriction>
      </simpleType>
    </attribute>
  </attributeGroup>
  
  <attribute name="globalAttr" type="int"/>

  <element name="NillableTest">
    <complexType>
      <sequence>
        <element name="price" type="positiveInteger" nillable="true"/>
        <element name="tax" type="positiveInteger" minOccurs="0" nillable="true"/>
        <element name="tag" type="positiveInteger" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        
        <element name="shipTo" type="ipo:Address" nillable="true"/>
        <element name="billTo" type="ipo:Address" minOccurs="0" nillable="true" />
        <element name="via" type="ipo:Address" minOccurs="0" maxOccurs="unbounded" nillable="true" />
      </sequence>
    </complexType>
  </element>
  
  <element name="AllTest">
    <complexType>
      <all>
        <element ref="ipo:script"/>
        <element ref="ipo:style"/>
        <element ref="ipo:title"/>
        <element name="optionalUnsignedInt" minOccurs="0" maxOccurs="1" type="unsignedInt"/>
      </all>
      <attribute name="id" type="ID"/>
    </complexType>    
  </element>
  
  <element name="script" type="string"/>
  <element name="style" type="string"/>
  <element name="title" type="string"/>
  <element name="base" type="string"/>
  
  <group name="head.misc">
    <sequence>
      <choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ipo:script"/>
        <xs:element ref="ipo:style"/>
      </choice>
    </sequence>
  </group>
  
  <element name="head">
    <annotation>
      <documentation>
        content model is "head.misc" combined with a single
        title and an optional base element in any order
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <group ref="ipo:head.misc"/>
        <choice>
          <sequence>
            <xs:element ref="ipo:title"/>
            <group ref="ipo:head.misc"/>
          </sequence>
          <sequence>
            <xs:element ref="ipo:base"/>
            <group ref="ipo:head.misc"/>
            <xs:element ref="ipo:title"/>
            <group ref="ipo:head.misc"/>          
          </sequence>
        </choice>
      </sequence>
      <attributeGroup ref="ipo:i18n"/>
      <attribute name="id" type="ID"/>
      <attribute name="profile" type="anyURI"/>
    </complexType>
  </element>
  
  <complexType name="GH5B">
    <sequence>
      <element name="features1" type="ipo:Features"/>
      <element name="features2" minOccurs="0" maxOccurs="1" type="ipo:Features"/>
      <element name="features3" maxOccurs="unbounded" type="ipo:Features"/>
      <element name="features4" nillable="true" minOccurs="0" maxOccurs="1" type="ipo:Features"/>
      <element name="features5" nillable="true" type="ipo:Features"/>
      
      <element name="numbers1" type="ipo:Numbers"/>
      <element name="numbers2" minOccurs="0" maxOccurs="1" type="ipo:Numbers"/>
      <element name="numbers3" maxOccurs="unbounded" type="ipo:Numbers"/>
      <element name="numbers4" nillable="true" minOccurs="0" maxOccurs="1" type="ipo:Numbers"/>
      <element name="numbers5" nillable="true" type="ipo:Numbers"/>
    </sequence>
  </complexType>
  
  <simpleType name="Features">
      <list itemType="ipo:PayoffFeatureType"/>
  </simpleType>
  
  <simpleType name="PayoffFeatureType">
      <restriction base="NMTOKEN">
          <enumeration value="AUTOCALLABLE"/>
          <enumeration value="CALLABLE"/>
      </restriction>
  </simpleType>
  
  <simpleType name="Numbers">
      <list itemType="unsignedInt"/>
  </simpleType>
    
  <!-- sub group -->
  <complexType name="GH6Usage">
    <sequence>
      <element ref="ipo:gh6head"/>
      <element name="gh6head2" type="string" />
      <element name="city"   type="string"/>
    </sequence>
  </complexType>
  
  <element name="gh6head" type="string" abstract="true"/>
  <element name="gh6sub1" type="string" substitutionGroup="ipo:gh6head" />
  <element name="gh6sub2" type="string" substitutionGroup="ipo:gh6head" />
  <element name="gh6head2" type="string" abstract="true"/>
  <element name="gh6sub3" type="string" substitutionGroup="ipo:gh6head2" />
  <element name="gh6sub4" type="string" substitutionGroup="ipo:gh6head2" />
  
  <complexType name="GH8">
    <sequence>
      <element name="implicit" type="string" />
      <element name="match"   type="string"/>
    </sequence>
  </complexType>
  
  <element name="gh6head2" type="string" abstract="true"/>
  
  <element name="gh9">
    <complexType>
      <sequence>
        <element name="name"   type="string"/>
      </sequence>
    </complexType>
  </element>
  
  <attributeGroup name="gh9">
    <annotation>
      <documentation>
      the same name as the above element.
      </documentation>
    </annotation>
    <attribute name="id" type="ID"/>
  </attributeGroup>
</schema>
