src/test/resources/lnk.dtd

<!-- $Id: lnk.dtd,v 1.1 2003/08/25 15:00:54 paltherr Exp $ -->

<!ELEMENT lnkDB          ((link|linkgroup)*)>

<!ELEMENT linkgroup      (groupname, (link|linkgroup)*)>
<!ELEMENT link           (name, description?)>

<!ATTLIST link
          target CDATA #REQUIRED>

<!ELEMENT groupname      (#PCDATA)>
<!ELEMENT name           (#PCDATA)>
<!ELEMENT description    (#PCDATA)>
