src/test/resources/nullnamespace.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="foo">
   <xs:complexType>
     <xs:sequence>
       <xs:element name="bar" type="xs:string"/>
       <xs:element name="baz" type="xs:string"/>
     </xs:sequence>
   </xs:complexType>
 </xs:element>
</xs:schema>
